<%- include("partials/header") %>



<%= JSON.stringify(balls) %>
<!-- <% balls.forEach(ball => {  %>
    
    <div>
        <%= ball %>
    </div>
    <% }); %>  -->
    
    
    
    <form action="/balls/new" method="GET">
        <input type="submit" value="once more">
    </form>
<%- include("partials/footer") %>
