<%- include("partials/header") %>
<form action="/balls" method="post">
    <div>
        <label for="height">Height(in meters):</label>
        <input type="text" name="height" id="height">
    </div>
    <div>
        <label for="COR">Coefficient of restitution:</label>
        <input type="text" name="COR" id="COR">
    </div>
    <input type="submit">

</form>


<%- include("partials/footer") %>